/* =============== UTILITIES ================ */

.not-ready{
    font-weight: normal;
    font-size: 150%;
    color: darkred;
}

.ready{
    font-weight: bold;
    color: forestgreen;
    font-size: 175%;
}

.fjs-login-panel{
    /* Needed so it won't mess with transition */
    min-height: 176.4px;
}

.fjs-game-main{
    height : 250px;
}

.fjs-game-table{
    height: 100%;
    text-align: center;
}

.fjs-player-cards{
    text-align: center;
}

.fjs-card{
    font-size: 800%;
    line-height: 100%;
}

.red-card{
    color : red;
}

.table.table-bordered.fjs-game-table td{
    vertical-align: middle;
}

.table-header{
    background-color: #f5f5f5;
}

/* =============== ANIMATIONS ================ */

.login-animate {
    opacity: 1;
}

.login-animate.ng-hide-add {
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.login-animate.ng-hide-remove {
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.login-animate.ng-hide {
  opacity: 0;
}

.player-animate {
  line-height:25px;
  list-style:none;
  box-sizing:border-box;
}

.player-animate.ng-move,
.player-animate.ng-enter,
.player-animate.ng-leave {
  transition:all linear 0.5s;
}

.player-animate.ng-leave.ng-leave-active,
.player-animate.ng-move,
.player-animate.ng-enter {
  opacity:0;
  max-height:0;
}

.player-animate.ng-leave,
.player-animate.ng-move.ng-move-active,
.player-animate.ng-enter.ng-enter-active {
  opacity:1;
  max-height:30px;
}
