<div class="row">
    <div class="col-md-12 panel panel-default" style = "padding-top: 15px;">
        <div class="row">
            <div class="col-md-3 col-xs-4">
                <!-- Login Panel -->
                <div class="panel panel-default fjs-login-panel">
                    <div class="panel-heading" style = "text-align:center">
                        <h3 class="panel-title"><b>Login</b></h3>
                    </div>

                    <div class="panel-body">
                        <div>
                            <div style = "text-align:center">
                                <h4>You are logged in, {{ lobby.name }}</h4>
                            </div>
                            <br />
                            <button type="button" class="btn btn-lg btn-danger center-block" ng-click="lobby.logoutButton()">
                                Logout
                            </button>
                        </div>

                    </div>
                </div>

                <!-- Player Panel -->
                <div class="panel panel-default">

                    <div class="panel-heading"  style = "text-align:center">
                        <h3 class="panel-title"><b>Players</b></h3>
                    </div>

                    <!-- Player List -->
                    <div class="panel-body"  style = "text-align:center">
                        <div ng-repeat="player in lobby.players" class="player-animate not-ready"	ng-class="player.ready ? 'ready' : ' ' ">
                            {{player.name}}
                            <span style="color: red; cursor: pointer" class="glyphicon glyphicon-remove"
                                    ng-show="lobby.firstPlayer && player.name != lobby.name"
                                    ng-click="lobby.kickPlayer(player.name)"/>
                        </div>
                    </div>

                    <!-- Ready Button -->
                    <div class="panel-footer">
                        <button type="button" class="btn btn-danger center-block"
                        ng-click="lobby.readyButton()">
                        Ready
                    </button>
                    <br />
                    <button type="button" class="btn start-disabled center-block"
                    ng-class="{'start-button' : lobby.readyToStart}"
                    ng-show="lobby.firstPlayer"
                    ng-click="lobby.startGame()">
                    Start Game
                </button>
            </div>
        </div>
    </div>
    <!--  -->
    <div>
        <div class="col-md-9 col-xs-8">
            <div class="panel panel-default">
                <div class="panel-heading" style = "text-align: center">
                    <h3 class="panel-title"><b>Instructions</b></h3>
                </div>
                <div class="panel-body">
                    <h2 style = "text-align: center">How To Play</h3>
                    <br/>
                    <p>
                        WastedJS is a card based game. A game of WastedJS consists of a number of <b>matches</b> (currently starting with 2 cards until 8 cards), and each match has a number of <b>rounds</b>.
                        The game objective is to guess correctly how many rounds you will win within a match.
                    </p>
                    <p>
                        A round has 2 phases, the first one is the <b>betting phase</b>, on which players will take turns betting how many rounds they think they'll win.
                    </p>
                    <p>
                        The second phase of a round is the <b>playing phase</b>, on which players will take turns playing one card at a time.
                        To win a round, a player has to have played the card with <b>highest</b> value among the others at the end of a round.
                        When there is a <b>tie</b>, no one wins that round.
                    </p>
                    <p>
                        The match ends when all cards are played. Then, the players' lives will be <b>deducted</b> based on the <b>difference</b> between their wins and bets. If a player bet the same amount of won rounds, they will not lose lives. Afterwards, a new match can be started. The players begin with 3 lives each. Game is over if there is only 1 player left alive or after the 8th match.
                    </p>
                    <p>
                        <b>Tie betting rule</b> : The last player <b>cannot</b> tie bets.
                        This mean that the bets' sum cannot be equal to the number of cards given to the players. 
                        This rule increases the chance of losing lives at the end of the match.
                    </p>
                    <p>
                        <b>Player Order</b> : The player who will start the next round is the one who won the previous round. When there is a <b>tie</b>, the last player to tie will be the first one in the next round.
                        The match starting player will cycle for each match.
                    </p>
                    <p>
                        <b>Card order</b> : The cards are divided in 2 groups. The first one is called <b>Manilhas</b>, they are the strongest cards. There is only 4 of them, with specific number/suit combination. They are, in order of strength:
                        <br/>
                        <div style="text-align:center">
                            <div
                            class = "fjs-card fjs-hand fjs-help-card"
                            ng-repeat="card in lobby.manilhas"
                            ng-bind-html = "card | cardFilter"
                            ng-class="{'red-card' : lobby.cardIsRed(card)}">
                            </div>
                        </div>
                        <br/>
                        The weak cards can have any suit, excluding the Manilhas, of course. They are, in order of strength: 
                        <br/><br/>
                        <div style="text-align:center">
                            <div
                            class = "fjs-card fjs-hand fjs-help-card"
                            ng-repeat="card in lobby.weakCards"
                            ng-bind-html = "card | cardFilter"
                            ng-class="{'red-card' : lobby.cardIsRed(card)}">
                            </div>
                        </div>
                        <br/>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div> <!-- Main row end -->
</div>
</div>
