<div class="row">
    <div class="col-md-12 panel panel-default" style = "padding-top: 15px;">
        <div class="row">
            <div class="col-md-3 col-xs-4">
                <!-- Login Panel -->
                <div class="panel panel-default fjs-login-panel">
                    <div class="panel-heading" style = "text-align:center">
                        <h3 class="panel-title"><b>Login</b></h3>
                    </div>

                    <div class="panel-body">
                        <div>
                            <div style = "text-align:center">
                                <h4>You are logged in, {{ lobby.name }}</h4>
                            </div>
                            <br />
                            <button type="button" class="btn btn-lg btn-danger center-block" ng-click="lobby.logoutButton()">
                                Logout
                            </button>
                        </div>

                    </div>
                </div>

                <!-- Player Panel -->
                <div class="panel panel-default">

                    <div class="panel-heading"  style = "text-align:center">
                        <h3 class="panel-title"><b>Players</b></h3>
                    </div>

                    <!-- Player List -->
                    <div class="panel-body"  style = "text-align:center">
                        <div ng-repeat="player in lobby.players" class="player-animate not-ready"	ng-class="player.ready ? 'ready' : ' ' ">
                            {{player.name}}
                            <span style="color: red; cursor: pointer" class="glyphicon glyphicon-remove"
                                    ng-show="lobby.firstPlayer && player.name != lobby.name"
                                    ng-click="lobby.kickPlayer(player.name)"/>
                        </div>
                    </div>

                    <!-- Ready Button -->
                    <div class="panel-footer">
                        <button type="button" class="btn btn-danger center-block"
                        ng-click="lobby.readyButton()">
                        Ready
                    </button>
                    <br />
                    <button type="button" class="btn start-disabled center-block"
                    ng-class="{'start-button' : lobby.readyToStart}"
                    ng-show="lobby.firstPlayer"
                    ng-click="lobby.startGame()">
                    Start Game
                </button>
            </div>
        </div>
    </div>
</div> <!-- Main row end -->
</div>
</div>
