<div class="row">
    <div class="col-md-12 panel panel-default" style = "padding-top: 15px;">
        <!-- Row = Login and Game -->
        <div class="row">
            <!-- Game Panel -->
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading" style = "text-align:center">
                        <h3 class="panel-title"><b>Game</b></h3>
                    </div>

                    <div class="panel-body">
                    
                        <!-- Player Scoreboard -->
                        <div class="panel panel-default fjs-game-main">
                            <table class="table table-bordered fjs-game-table">
                                <tr class="table-header">
                                    <td> Nick </td>
                                    <td> Lives </td>
                                    <td> Won/Bet </td>
                                </tr>
                                <tr ng-repeat="player in game.players" ng-class = "{'defeated-player': player.lives < 1}">
                                    <td>{{player.name}}</td>
                                    <td> <span ng-repeat="i in player.lives | livesCount" 
                                                class="hearts-lives"
                                                ng-class="{'faded-heart': game.checkLostHearts(i, player.name)}">
                                        &hearts;
                                    </span> </td>
                                    <td>{{player.won}} / {{player.bet}}</td>
                                </tr>
                            </table>
                        </div>

                        <!-- Played cards -->
                        <div class="panel panel-default">
                            <table class ="table table-bordered fjs-player-cards">
                                <tr class="table-header">
                                    <td
                                    ng-repeat = "player in game.players"
                                    ng-class = "{'selected-player' : player.turn, 'won-round-player' : player.wonRound}">{{player.name}}</td>
                                </tr>
                                <tr>
                                    <td
                                    class = "fjs-card"
                                    ng-repeat = "player in game.players"
                                    ng-bind-html = "player.card | cardFilter"
                                    ng-class="game.cardIsRed(player.card) ? 'red-card' : '' ">
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <!-- Bet panel -->
                        <div class="well" ng-show="game.phase == 'bet' && game.me.turn" style="text-align:center">
                            <h4> Bet! </h4>
                            <button type="button" class="btn btn-primary"
                            ng-repeat="bet in game.betOptions"
                            ng-click="game.betClick($index)">
                            {{bet}}
                            </button>
                        </div>

                        <!-- Player hand section -->
                        <div class="well well-lg" style="text-align:center" >
                            <div class="row">
                                <div
                                class = "fjs-card fjs-hand"
                                ng-repeat="card in game.cards"
                                ng-bind-html = "card | cardFilter"
                                ng-class="{'red-card' : game.cardIsRed(card), 'selected-card' : card == game.me.card}"
                                ng-click = "game.cardSelect($index)" >
                                </div>
                            </div>
                            <div class="row">
                                <button type="button" class="btn center-block"
                                ng-click="game.playCard()"
                                ng-class="{'play-active': (game.me.turn && game.phase == 'play'), 'play-disabled':!(game.me.turn && game.phase == 'play')}">
                                Play
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- Game Panel end -->
        </div> <!-- Main row end -->
    </div>
</div>
